
body {
    line-height: 1.6;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #333;
}

p {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #131313;
    font-family: "Neuton", serif;
    font-weight: 700;
    line-height: 1.3;
}

h1, .h1 {
    font-size: 36px;
}
@media (max-width: 991px) {
    h1, .h1 {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    h1, .h1 {
        font-size: 26px;
    }
}

h2, .h2 {
    font-size: 28px;
}
@media (max-width: 767px) {
    h2, .h2 {
        font-size: 24px;
    }
}

h3, .h3 {
    font-size: 22px;
}
@media (max-width: 767px) {
    h3, .h3 {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 14px;
}

/* Button style */
.btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 0;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}
.btn:hover, .btn:active, .btn.active .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-primary {
    background: #2382c2;
    color: #fff;
    border-color: #2382c2;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active .btn-primary:focus, .btn-primary.focus {
    background: #2382c2 !important;
    border-color: #2382c2 !important;
}

.btn-outline-primary {
    background: transparent;
    color: #2382c2;
    border-color: #2382c2;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active .btn-outline-primary:focus, .btn-outline-primary.focus {
    background: #2382c2 !important;
    border-color: #2382c2 !important;
    color: #fff;
}

.btn-sm {
    font-size: 14px;
    padding: 10px 25px;
}


body {
    background-color: #fff;
    overflow-x: hidden;
}

::-moz-selection {
    background: #2382c2;
    color: #fff;
}

::selection {
    background: #2382c2;
    color: #fff;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button,
select {
    cursor: pointer;
    transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
    outline: 0;
}

a:hover {
    color: #2382c2;
}

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.section-title {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}
.section-title::before {
    position: absolute;
    height: 4px;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.border-default {
    border-color: #ececec !important;
}

.border-primary {
    border-color: #2382c2 !important;
}

.font-primary {
    font-family: "Work Sans", sans-serif !important;
}

.font-secondary {
    font-family: "Neuton", serif !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.breadcrumb {
    background-color: transparent;
    justify-content: center;
}
.breadcrumb-item {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
}
.breadcrumb-item a {
    color: #2382c2;
}

/* overlay */
.overlay {
    position: relative;
}
.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.bg-primary {
    background: #2382c2 !important;
}

.text-primary {
    color: #2382c2 !important;
}

.text-default {
    color: #333 !important;
}

.bg-dark {
    background-color: #131313 !important;
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
.rounded {
    border-radius: 6px !important;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .no-gutters-lg {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gutters-lg > .col, .no-gutters-lg > [class*=col-] {
        padding-right: 0;
        padding-left: 0;
    }
}
.mark, mark {
    padding: 0;
}

.article-card {
    padding: 30px;
    border-radius: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1200px) {
    .article-card-sm {
        padding: 20px;
    }
}
@media (max-width: 991px) {
    .article-card {
        padding: 25px;
    }
}
@media (max-width: 575px) {
    .article-card {
        padding: 15px;
    }
}

.card {
    border: 0;
    position: relative;
}
.card-meta {
    padding-left: 0;
}
.card-meta li {
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
}
.card-meta li a {
    font-weight: 500;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card-meta li a:hover {
    color: #2382c2;
}
.card-footer {
    background-color: transparent;
}
.card-footer span {
    vertical-align: middle;
    color: #888;
}
.card-img {
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-image {
    position: relative;
}
.card-image img {
    border-radius: 0;
}
.card-image .post-info {
    position: absolute;
    right: 0;
    top: -5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.card-image .post-info span {
    display: inline-block;
    line-height: 1.3;
    font-size: 12px;
    padding: 3px 8px;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 0;
    margin-top: 5px;
}

.read-more-btn {
    font-family: "Neuton", serif;
    font-size: 18px
}

.post-title {
    color: #000;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#2382c2, #2382c2);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 0% 8px;
    transition: background-size 0.3s;
}
.post-title-sm {
    background-size: 0% 3px;
}

a.post-title:hover {
    color: #000;
    background-size: 100% 8px;
}

a.post-title-sm:hover {
    background-size: 100% 3px;
}

/* blog */
.pagination {
    justify-content: center;
}
.pagination .page-item .page-link {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 0;
    border: 1px solid #ececec;
    text-align: center;
    margin: 0 4px;
    font-weight: 500;
    color: #131313;
    padding: 0;
    line-height: 41px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}
.pagination .page-item .page-link:focus, .pagination .page-item .page-link:hover {
    box-shadow: none;
    background: #2382c2;
    color: #fff;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
    border-radius: 0;
}
.pagination .page-item.active .page-link {
    background: #2382c2;
    color: #fff;
    border-color: #2382c2;
}

.post-meta {
    padding-left: 0;
}
.post-meta li {
    list-style-type: none;
    display: inline-block;
    color: #888;
    font-weight: 500;
}
.post-meta li a {
    display: inline-block;
    background-color: rgba(19, 19, 19, 0.05);
    color: black;
    text-transform: capitalize;
    padding: 2px 8px;
    margin-bottom: 8px;
    margin-right: 2px;
    font-size: 14px;
    border-radius: 0;
}
.post-meta li a:hover {
    background-color: rgba(38, 148, 225, 0.45);
}
.post-meta li svg {
    display: inline-block;
}

.image-fallback {
    font-size: 0;
    height: 220px;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 0;
    display: inline-block;
}
.image-fallback::first-letter {
    font-size: 80px;
    line-height: 220px;
    font-weight: bold;
    color: rgba(38, 148, 225, 0.45);
}
.image-fallback.post-thumb-sm::first-letter {
    font-size: 50px;
    line-height: 60px;
}
.image-fallback-sm {
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}
.image-fallback-sm::first-letter {
    font-size: 50px;
    line-height: 120px;
}
.image-fallback-xs {
    height: 80px;
    width: 80px;
}
.image-fallback-xs::first-letter {
    font-size: 38px;
    line-height: 80px;
}

.breadcrumbs {
    background-color: transparent;
    padding: 15px 0;
}
.breadcrumbs a {
    color: #131313;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.breadcrumbs a:last-child {
    color: rgba(19, 19, 19, 0.5);
    pointer-events: none;
}

/* content style */
.content * {
    margin-bottom: 5px;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .h1, .content .h2, .content .h3, .content .h4, .content .h5, .content .h6 {
    margin-bottom: 20px;
    margin-top: 30px;
}
.content a {
    color: inherit !important;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#2382c2, #2382c2);
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: 0.3s;
}
.content a:hover {
    color: #000;
    background-size: 100% 100%;
}
.content ol {
    padding-left: 20px;
}
.content ul {
    padding-left: 0;
}
.content ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    list-style-type: none;
}
.content ul li a {
    display: inline-block;
    margin-bottom: 10px;
}
.content ul li::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: 0;
    top: 7px;
    background-color: #2382c2;
    transition: 0.3s ease;
}
.content table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
}
.content table th,
.content table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.content table thead {
    background: #f1f1f1;
}
.content table tbody {
    background: #F6F6F6;
}
.content table tbody td {
    text-align: left !important;
}
.content blockquote {
    border-left: 4px solid #2382c2;
    padding: 20px;
    margin: 20px 0;
}
.content blockquote p {
    margin-bottom: 0;
    color: #333;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}
.content pre {
    padding: 10px 20px;
    background: #F6F6F6;
}

/* widget */
.widget-blocks {
    padding-left: 20px;
}
@media (max-width: 991px) {
    .widget-blocks {
        padding-left: 0;
    }
}
.widget-blocks .row > .col:last-child .widget, .widget-blocks .row > [class*=col-]:last-child .widget {
    margin-bottom: 0 !important;
}

.widget {
    margin-bottom: 50px;
}
.widget-body {
    padding: 30px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1200px) {
    .widget-body-sm {
        padding: 20px;
    }
}
@media (max-width: 991px) {
    .widget-body {
        padding: 25px;
    }
}
@media (max-width: 575px) {
    .widget-body {
        padding: 15px;
    }
}
.widget-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-list .card {
    border-bottom: 1px dashed #ececec;
    padding-bottom: 15px;
}
.widget-list .media img {
    height: 80px;
    width: 80px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0;
}
.widget-list .media:not(:last-child) {
    border-bottom: 1px dashed #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.widget-list .media:hover {
    opacity: 0.8;
}
.widget-list li {
    display: inline-block;
}
.widget-list li a {
    background-color: rgba(19, 19, 19, 0.05);
    color: black;
    text-transform: capitalize;
    padding: 6px 16px;
    margin-bottom: 9px;
    margin-right: 9px;
    display: block;
    font-size: 14px;
    border-radius: 0;
}
.widget-list li a:hover {
    background-color: rgba(38, 148, 225, 0.45);
}

.author-thumb-sm {
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 991px) {
    .author-thumb-sm {
        height: 250px;
    }
}
@media (max-width: 767px) {
    .author-thumb-sm {
        height: 200px;
    }
}

.post-thumb-sm {
    height: 80px;
    width: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0;
}

.copyright {
    background-color: #0e0e0e !important;
    color: #e8e8e8;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

footer .section {
    padding: 45px 0;
}

.form-control {
    border-radius: 0;
    min-height: 50px;
    padding: 10px 15px;
}
.form-control:focus {
    border-color: #131313;
    box-shadow: none;
}